/*KEYFRAMES*/

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes latefade {
    0% {
        opacity: 0
    }
    35% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes latefade {
    0% {
        opacity: 0
    }
    35% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes latefade {
    0% {
        opacity: 0
    }
    35% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes slidedownfade {
    0% {
        opacity: 0;
        top: 0px
    }
    85% {
        opacity: 0;
        top: -18px
    }
    100% {
        opacity: 1;
        top: 0px
    }
}

@-moz-keyframes slidedownfade {
    0% {
        opacity: 0;
        top: 0px
    }
    85% {
        opacity: 0;
        top: -18px
    }
    100% {
        opacity: 1;
        top: 0px
    }
}

@-webkit-keyframes slidedownfade {
    0% {
        opacity: 0;
        top: 0px
    }
    85% {
        opacity: 0;
        top: -18px
    }
    100% {
        opacity: 1;
        top: 0px
    }
}

@keyframes lineslidedownfade {
    0% {
        margin-top: 600px
    }
    35% {
        margin-top: 600px
    }
    100% {
        margin-top: 0px
    }
}

@-moz-keyframes lineslidedownfade {
    0% {
        margin-top: 600px
    }
    35% {
        margin-top: 600px
    }
    100% {
        margin-top: 0px
    }
}

@-webkit-keyframes lineslidedownfade {
    0% {
        margin-top: 600px
    }
    35% {
        margin-top: 600px
    }
    100% {
        margin-top: 0px
    }
}
